@media only screen and (min-width:200px) and (max-width:575px){
    .bannerSection{
        display: none;
    }
    .orderBanner{
        flex-direction: column;
    }
    .headerBtn{
        position: fixed;
        width: 100%;
        margin-right: 0px;
        background-color: whitesmoke;
        justify-content: center;
        bottom: 0px;
    }
}