*{
    margin: 0;
    padding:0;
font-family: sans-serif;
box-sizing: border-box;
}
header{
    display: flex;
    
    flex-direction: column;
   
    border-top: .5px solid #ccc;
    border-bottom: .5px solid #ccc;

}
.headerLeft{
    display: flex;
align-items: center;
}
.logo{
    padding: 24px 30px;
    border-right: 1px solid #ccc;

}
.headerAddress{
    padding: 20px 30px ;
}
.headerAddress h3{
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 600;
}
.headerAddress p{
    font-size: 14px;
    font-weight: 300 ;
}
.nav-search{
    flex-grow: 1;
     display: flex;
    background-color: #f6f4f4;
    border-radius: 10px;
    padding: 7px;

     button {
        font-size: 15px;
        background-color: transparent;
        padding: 5px;
        outline: none;
        border: none;
    }
}
.nav-search input{
flex-grow: 1;

background-color: transparent;
border: none;
outline: none;font-size: 1rem;
padding: 5px;
}
.headerBtn{
    display: flex;
    gap: 40px;
    margin-right: 40px;
}
.headerBtn button{
    font-size: 16px;
    padding: 15px;
    background-color: transparent;
    border: none;
}
.headerBtn button:first-child{
    margin-left: 30px;
    font-weight: 200;
}
.headerBtn button:last-child{
    color: white;
    border-radius: 9px;
    font-weight: bold;
    background-color: green;
}
.bannerSection{
    max-width: 1280px;
    margin: auto;
    margin-top: -10px;
}
.bannerSection img{
    width: 100%;
    padding: 10px;
    padding-bottom: -10px;

}
.orderBanner{
    display: flex;
    max-width:1280px ;
    margin: auto;
    padding-left: 12px;
}
.orderBannerItems{
    flex-basis: 27%;
    margin: 1%;
}
.orderBannerItems img{
    width: 100%;
    margin-top: -8px;
    
    
}
/* .categorySection{
    max-width: 1280px;
    display: flex;
    padding-left: 8px;
    flex-wrap: wrap;
    margin:auto;
}
.categoryItems{
    flex-basis: 10%;
}
.categoryItems img{
    width: 100%;
}
.productSection{
    max-width: 1280px;
    margin: auto;
  padding: 25px;
}
.headingRow{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.headingRow h2{
    font-size: 22px;
}
.headingRow a{
    color: green;
    font-size: 18px;
}
.productRow{
    width:100%;
    margin: 30px 0px;
    gap: 2%;
    display: flex;
}
.productItems{
   border-radius: 15px;
   box-shadow: 0px 0px 3px px #eeeded;
    flex-basis: 15%;
    border: 1px solid #ccc;
   padding-bottom: 2px;
}
.productImg{
  width: 90%;
  padding: 8px;
  margin-left: 10px;
}
.productImg p{
    font-size: 11px;
    background-color:#f8f8f8 ;
    display: flex;
    width:35%; 
    gap: 2px; 
   
    border-radius: 5px;
    align-items: center;
  margin-top: -8px;
  margin-left: -5px;
}
.productContent{
    padding: 8px;
    padding-top: 0px;
}
.productContent h3{
    margin-bottom: 15px;
    font-size: 14px;
    margin-top: 5px;
}
.productContent p{
    font-size: 14px;
    color: #a3a2a2;


}
 .btn-prise-outer{
    display: flex;
    margin-top: 23px;
    padding: 0px 1px;

    align-items: center;
    justify-content: space-between;
 }
 .btn-prise-outer button{
    padding: 5px 15px;
    border-radius: 6px;
    color: #328616;
    border: 1px solid #328616;
    background-color: #f7fff9;
 }
 #aditya{
    
    margin-top: -2px;
 } */